<div class="content content-centered-768">

  <h2 class="content-head is-center">Resend confirmation instructions</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "pure-form pure-form-stacked" }) do |f| %>
    <%= devise_error_messages! %>
    
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>  

    <div class="actions">
      <%= f.submit "Resend confirmation instructions", class: "pure-button pure-button-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>