<p id="notice"><%= notice %></p>

<h1>Listing API Keys</h1>

<table class="pure-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Key</th>
      <th>Requests count</th>
      <th>Last request ip</th>
      <th>Last reset at</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_keys.each do |api_key| %>
      <tr>
        <td><%= api_key.name %></td>
        <td><%= api_key.key %></td>
        <td><%= api_key.requests_count %></td>
        <td><%= api_key.last_request_ip %></td>
        <td><%= api_key.last_reset_at %></td>
        <td><%= api_key.user.email %></td>
        <td><%= link_to 'Show', api_key %></td>
        <td><%= link_to 'Edit', edit_api_key_path(api_key) %></td>
        <td><%= link_to 'Destroy', api_key, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New API key', new_api_key_path %>
