<!DOCTYPE html>
<html>
<head>
  <title>Bookshark - Book Metadata Service for Greek National Bibliography</title>
  <%= favicon_link_tag 'bookshark-ico-32.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/menu' %>

<div class="content-wrapper">  
  <%= alert_box(notice) %>
  <%= alert_box(alert, 'warning') %>

  <%= yield %>

</div>



</body>
</html>
